.duel-page {
    background-image: url("src/assets/image/Alien_Space_Station_Interior_CD0011.jpg9A52093C-9F94-4E3C-BA99-809E46299A11Default.jpg");
    background-color: #f0f0f0; /* Fallback background color */
    background-size: cover; /* Adjust as needed */

}


.cartes-container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.duel-page {
    display: grid;
    justify-items: center;
}

.star-wars-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #ffe81f; /* Jaune lightsaber */
    color: #ffe81f; /* Jaune lightsaber */
    background-color: #000; /* Fond noir */
  
    /* Ajouter une transition pour une animation fluide */
    transition: background-color 0.3s, color 0.3s;
  }


  .resultat-duel {
    color: #ffd700;
  }

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(-5px, 5px); }
    100% { transform: translate(0, 0); }
  }
  
  .shake {
    animation: shake 0.5s ease;
  }
  
  .collision {
    animation: collision 0.5s ease;
  }
  
  @keyframes collision {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-10px, 10px); /* Ajustez ces valeurs selon votre préférence pour la première image */
    }
    50% {
      transform: translate(10px, 20px); /* Ajustez ces valeurs selon votre préférence pour la deuxième image */
    }
  }
  