.duel-page {
    background-image: url("/src/assets/image/Design\ sans\ titre\ \(7\).png");
    background-color: #f0f0f0; /* Fallback background color */
    background-size: cover; /* Adjust as needed */
    min-height: 80vh;

}
@font-face {
  font-family: 'Starjedi';
  src: url('../Fonts/Starjedi.ttf') format('truetype');

}



/* Stats des cartes en mode duel */


.carte-duel {
  position: relative;
}

/* Stats carte player */
.nameDuel{
  position:absolute;
  top: 297px; 
  left: 220px;
  font-size: 1.5em;
  font-family: 'Starjedi';
  color: white;
  width: 250px;
  z-index: 2;
}

.atkDuel {
  position: absolute;
  top: 360px; 
  left: 75px;
  font-size: 1.7em;
  font-family: 'Starjedi';
  color: #FAD02C;
  z-index: 2;
}
.defDuel {
  position: absolute;
  top: 360px; 
  left: 190px;
  font-size: 1.7em;
  font-family: 'Starjedi';
  color: #32F0EA;
  z-index: 2;
}
.pvDuel {
  position: absolute;
  top: 360px; 
  left: 315px;
  font-size: 1.7em;
  font-family: 'Starjedi';
  color:#E1525F;
  z-index: 2;
}

/* Stats carte ordi */

.adversaire-card{
position: relative;
}
.nameDuelOrdi{
  position: absolute;
  top: 297px; 
  left: 220px;
  font-size: 1.5em;
  font-family: 'Starjedi';
  color: white;
  z-index: 2;
}
.atkDuelOrdi {
  position: absolute;
  top: 360px; 
  left: 75px;
  font-size: 1.7em;
  font-family: 'Starjedi';
  color: #FAD02C;
  z-index: 2;
}
.defDuelOrdi {
  position: absolute;
  top: 360px; 
  left: 190px;
  font-size: 1.7em;
  font-family: 'Starjedi';
  color: #32F0EA;
  z-index: 2;
}
.pvDuelOrdi {
  position: absolute;
  top: 360px; 
  left: 315px;
  font-size: 1.7em;
  font-family: 'Starjedi';
  color:#E1525F;
  z-index: 2;
}



.Dcard-Global img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  
}


.duel-page {
    display: grid;
    justify-items: center;
}
/* Fin stats carte */




.shadow__btn {
  max-height: 50px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
  position: relative;
}



.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(255, 7, 58),
              0 0 25px rgb(255, 7, 58),
              0 0 50px rgb(255, 7, 58),
              0 0 100px rgb(255, 7, 58);
  background-color: rgba(255, 7, 58);
}






 
  .Vs{
    display: flex;
    align-items: center;
  }

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(-5px, 5px); }
    100% { transform: translate(0, 0); }
  }
  
  .shake {
    animation: shake 0.5s ease;
  }
  
  .collision {
    animation: collision 0.5s ease;
  }
  
  @keyframes collision {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-10px, 10px); /* Ajustez ces valeurs selon votre préférence pour la première image */
    }
    50% {
      transform: translate(10px, 20px); /* Ajustez ces valeurs selon votre préférence pour la deuxième image */
    }
  }
  