.supportContainer {
  height: 100%;
  background-image: url("../assets/bcgSupport.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
