.supportContainer {
  height: 100%;
  background-image: url("/src/assets/image/Design\ sans\ titre\ \(7\).png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
