@font-face {
  font-family: "StarJedi.ttf";
  src: url("../FontTest/Starjedi.ttf");
}

.SlideTopHead {
  perspective: 800px; /* Ajustez la perspective selon vos besoins */
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100%;
  height: 400px;
}

.slide .slideimage {
  width: 500px;
  height: 550px;
}

.SlideHead {
  bottom: 10px;
  position: absolute;
  width: 17em;
  border-radius: 75px;
  padding: 15px;
  user-select: none;
  letter-spacing: 5px;
  transform: rotateX(45deg);
  color: #fad02c;
  font-family: "StarJedi.ttf";
  text-align: center;
  font-size: 50px;
  overflow: hidden;
}

/* .SlideHead::before {
  transform: rotateX(45deg);
  left: 6px;
  bottom: 1px;
  content: "";
  background-image: conic-gradient(#fad02c 20deg, transparent 120deg);
  width: 17.2em;
  height: 105px;
  position: absolute;
  border-radius: 75px;
  animation: rotate 2s linear infinite;
}

.SlideHead::after {
  bottom: 1px;
  left: 6px;
  border-radius: 75px;
  content: "playable characters";
  width: 17em;
  background-color: black;
  height: 100px;
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.slide {
  position: relative;
  filter: grayscale(100%) blur(4px);
  opacity: 0.75;
  transform: scale(0.7);
  transition: 0.5s;
}

.slide-active {
  z-index: 100;
  filter: blur(0) grayscale(0);
  opacity: 1;
  transform: scale(1.03);
}

.arrow {
  z-index: 99;
  font-size: 45px;
  padding: 5px 15px;
  display: flex;
  position: absolute;
  top: 250px;
  cursor: pointer;
  transition: 0.5s;
  color: #fad02c;
}

.arrow:hover {
  animation: none;
}

@keyframes gigoter-left {
  0%,
  100% {
    transform: translateX(10px); /* Ajustez la valeur selon vos besoins */
  }
  20% {
    transform: translateX(0);
  }
}

@keyframes gigoter-right {
  0%,
  100% {
    transform: translateX(-10px); /* Ajustez la valeur selon vos besoins */
  }
  20% {
    transform: translateX(0);
  }
}

.arrow-right {
  animation: gigoter-right 1.5s infinite;
  right: 20px;
}

.arrow-left {
  animation: gigoter-left 1.5s infinite;
  left: 20px;
}

.Statsslide {
  font-size: 25px;
  font-family: "StarJedi.ttf";
  position: absolute;
  bottom: 110px;
}

.nameslide {
  color: white;
  width: 300px;
  position: absolute;
  bottom: 70px;
  left: 230px;
}

.atkslide {
  left: 80px;
  position: absolute;
  color: #fad02c;
}

.defslide {
  position: absolute;
  left: 210px;
  color: #32f0ea;
  margin: 0;
}

.pvslide {
  position: absolute;
  left: 345px;
  color: #e1525f;
  margin: 0;
}
