.slider {
  width: 100%;
  height: 400px;
}

.slide img {
  width: 100%;
  height: 550px;
}

.SlideHead {
  margin: 50px auto;
  text-align: center;
  font-size: 35px;
}

.slide {
  filter: grayscale(100%) blur(4px);
  opacity: 0.75;
  transform: scale(0.7);
  transition: 0.5s;
}

.slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.03);
}

.arrow {
  z-index: 99;
  font-size: 45px;
  padding: 5px 15px;
  display: flex;
  position: absolute;
  top: 250px;
  cursor: pointer;
  transition: 0.5s;
}

.arrow:hover {
  animation: none;
}

@keyframes gigoter-left {
  0%,
  100% {
    transform: translateX(10px); /* Ajustez la valeur selon vos besoins */
  }
  20% {
    transform: translateX(0);
  }
}

@keyframes gigoter-right {
  0%,
  100% {
    transform: translateX(-10px); /* Ajustez la valeur selon vos besoins */
  }
  20% {
    transform: translateX(0);
  }
}

.arrow-right {
  animation: gigoter-right 1.5s infinite;
  right: 20px;
}

.arrow-left {
  animation: gigoter-left 1.5s infinite;
  left: 20px;
}
