.navBar {
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 2rem;
  align-items: center;
}

.navBarLogo {
  width: 150px;
}

.navBarButtons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.navBarButtonSupport {
  padding: 1rem 3.4rem;
  border-style: solid;
  border-radius: 70px;
  border-color: #f8f9f9;
  border-width: 0.1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background: inherit;
  color: #f8f9f9;
}

.navBarButton {
  padding: 1rem 4rem;
  border-style: solid;
  border-radius: 70px;
  border-width: 0.1rem;
  border-color: #f8f9f9;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background: #f8f9f9;
  color: #1A1A1A;
  box-shadow: 0 0 10px #f8f9f9;
}