@font-face {
  font-family: "StarJedi.ttf";
  src: url("../FontTest/Starjedi.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;1,600&display=swap");

.rulesSection {
    padding: 2rem;
    width: 50%;
}

.rulesSection h1 {
  font-family: "StarJedi.ttf";
    margin-bottom: 2rem;
    color: white;
    letter-spacing: 0.2rem;
}

.rulesSection p {
    margin: 4rem 0;
    text-align: justify;
    columns: 2;
    column-gap: 2rem;
    color: white;
    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;
}

.rulesButton {
  padding: 1rem 4rem;
  border-style: none;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background: #73eea2;
  color: #1A1A1A;
  box-shadow: 0 0 10px #73eea2;
}
